@use "../abstract/color.module" as color;
@use "../abstract/fonts" as *;
@use "../abstract/responsive" as *;
@use "../components/description" as *;

@use "../components/title";

.home-layout {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  //border: 10px solid red;
  justify-content: center;

  @include desktop {
    height: 98vh;
    align-items: center;
  }
}
