@use "../abstract/color.module" as color;
@use "../abstract/fonts" as *;
@use "../abstract/responsive" as *;

.item-list-background {
  @include color.glass {
    grid-row: 2 / -2;
    grid-column: 1 / -1;
    margin-top: -50px;
    height: 100%;
    //border: 1px solid red;
    @include tablet {
      grid-row: 2 / 5;
      grid-column: 2 / 4;
      margin-top: -30px;
      margin-left: -30px;
      margin-bottom: 150px;
    }
    @include desktop{
      grid-row: 2 / 5;
      grid-column: 2 / 6;
      margin-left: -50px;
      margin-bottom: 0px;
      margin-top: 0px;
      height: 110%;
      width: 108%;
    }
    @include large {
      margin-left: -80px;
      width: 112%;
      grid-row: 2 / 5;
      grid-column: 2 / 6;
      
    }
  }
}

@mixin item-list {
  width: 100%;
  height: 100%;
  grid-row: 2 / 4;
  grid-column: 2 / 4;
  z-index: 2;
  
  li {
    //border: 5px solid blue;
    list-style-type: none;
    margin-bottom: 0.8rem;
    display: flex;
    flex-direction: row;

    @include tablet {
      margin-bottom: 1.5rem;
    }
    @include desktop {
      margin-bottom: 1.5rem;
    }
    @include large {
      margin-bottom: 2.2rem;
    }

    h3{
      margin-top: 10px;
      //border: 1px solid green;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      @include tablet{
        max-height: auto;
      }
      @include desktop {
        max-height: auto;
      }    
    }

    .paper-abstract{
      white-space: wrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex ;
      margin-top: 0px;
      margin-bottom: 0px;
      z-index: 0;
    }

    .paper-number-list {
      margin-top: 0px;
      margin-right: 20px;
      height: 3.7rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      @include desktop {
        height: 2.8rem;
        margin-top: 20px;
        margin-right: 20px;
      }
      @include large {
        height: 2.8rem;
        margin-top: 20px;
        margin-right: 20px;
      }
      h5 {
        z-index: 1;
        font-size: 1.2rem;
        @include tablet {
        font-size: 1.6rem; 
        }
        @include desktop {
          font-size: 1.6rem; 
          }
        :after {
          z-index: -1;
          position: absolute;
          content: "";
          transform: translate(-72.5%, 60%);
          padding-right: 20px;
          padding-top: 15px;
          background: color.$black;
          @include tablet {
            padding-right: 30px;
            padding-top: 15px;
            transform: translate(-72.5%, 100%);
          }
          @include desktop {
            padding-right: 30px;
            padding-top: 15px;
            transform: translate(-72.5%, 100%);
          }
        }
      }
    }
    .paper-data {
      display: flex;
      flex-direction: row;
      margin: 0px;
      padding: 0px;
      h5 {
        margin-top: 0px;
        margin-bottom: 0px;
        @include desktop {
          margin-top: 10px;
        }

        .video-button{
          border: none;
          outline: none;
          background-color: transparent;
          color: color.$primary;
          font-family: "IBM Plex Mono", monospace;
          font-weight: 600;
          font-size: 0.9rem;
          @include tablet {
            font-size: 1.2rem;
          }
          @include desktop {
            font-size: 1rem;
          }
          @include large {
            font-size: 1.2rem;
          }

        }
      }
      a{
        color: color.$primary;
        &:hover{
          text-decoration: underline
        }
      }
    }

  }
}

.item-paper-list {
  z-index: 4;
  @include item-list;
  margin-top: 10px;
  
  @include tablet {
    margin-top: 40px;
    width: 100%;
    grid-row: 3 / 5;
    grid-column: 2 / 4;
  }
  @include desktop {
    margin-top: 20px;
    width: 100%;
    grid-row: 3 / 5;
    grid-column: 2 / 6;
  }
}

.item-see-more {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-row: -3 / -2;
  grid-column: 2 / 3;
  pointer-events: none;
  z-index: 4;
  
  @include tablet {
    grid-row: 4 / 5;
    grid-column: 2 / 4;
  }
  @include desktop {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
  }
}

.item-bottom-line {
  //border: 1px solid color.$text;
  width: 100%;
  height: 1px;
  align-self: end;
  justify-self: end;
  transform-origin: bottom right;
  background: color.$text;
  grid-row: -3 / -2;
  grid-column: 3 / 5;
  z-index: 4;
  @include tablet {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
  }
  @include desktop {
    grid-row: 4 / 5;
    grid-column: 6 / 7;
  }
}
