@use "../abstract/color.module" as color;
@use "../abstract/fonts" as *;
@use "../abstract/responsive" as *;

@mixin item-list {
  width: 100%;
  height: 100%;
  grid-row: 2 / 4;
  grid-column: 2 / 4;
  
  li {
    //border: 5px solid blue;
    list-style-type: none;
    margin-bottom: 0.8rem;
    display: flex;
    flex-direction: row;

    @include tablet {
      margin-bottom: 1.5rem;
    }

    h3{
      margin-top: 10px;
      z-index: 20;
    }

    .paper-abstract{
      white-space: wrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex ;
      margin-top: 0px;
      margin-bottom: 0px;
      z-index: 0;
    }

    .paper-number-list {
      margin-top: 0px;
      margin-right: 20px;
      height: 3.7rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      @include desktop {
        height: 2.8rem;
        margin-top: 20px;
        margin-right: 20px;
      }
      h5 {
        z-index: 1;
        font-size: 1.2rem;
        @include tablet {
        font-size: 1.6rem; 
        }
        :after {
          z-index: -1;
          position: absolute;
          content: "";
          transform: translate(-72.5%, 60%);
          padding-right: 20px;
          padding-top: 15px;
          background: color.$black;
          @include tablet {
            padding-right: 30px;
            padding-top: 15px;
            transform: translate(-72.5%, 100%);
          }
        }
      }
    }
    .paper-data {
      display: flex;
      flex-direction: row;
      margin: 0px;
      padding: 0px;
      h5 {
        margin-top: 0px;
        margin-bottom: 0px;
        @include desktop {
          margin-top: 10px;
        }
      }
      a{
        color: color.$primary;
        &:hover{
          text-decoration: underline
        }
      }
    }

  }
}

.item-paper-list {
  @include item-list;
  margin-top: 30px;
  @include tablet {
    margin-top: 40px;
    width: 100%;
    grid-row: 3 / 5;
    grid-column: 2 / 4;
  }
  @include desktop {
    margin-top: 20px;
    width: 100%;
    grid-row: 3 / 5;
    grid-column: 2 / 6;
  }
}

.item-see-more {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  pointer-events: none;
  @include tablet {
    grid-row: 4 / 5;
    grid-column: 2 / 4;
  }
  @include desktop {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
  }
}

.item-bottom-line {
  //border: 1px solid color.$text;
  width: 100%;
  height: 1px;
  align-self: end;
  justify-self: end;
  transform-origin: bottom right;
  background: color.$text;
  grid-row: 3 / 4;
  grid-column: 3 / 5;
  @include tablet {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
  }
  @include desktop {
    grid-row: 4 / 5;
    grid-column: 6 / 7;
  }
}
