@use "../abstract/color.module" as color;
@use "../abstract/fonts" as *;
@use "../abstract/responsive" as *;

.see-more-root {
  cursor: pointer;
  border: none;
  //border: 1px solid red;
  padding: 0;
  display: flex;
  align-items: flex-end;
  background: transparent;
  justify-content: space-between;
  transform-origin: bottom right;
  pointer-events: all;
  z-index: 1000;
  .text {
    flex-shrink: 0;
    //border: 1px solid blue;
    color: color.$text;
    font-weight: 400;
    font-size: 1.2rem;
    margin-right: 0.5rem;
    @include tablet {
      font-size: 1.5rem;
      margin-right: 1rem;
    }
  }
}
