@use "../abstract/color.module" as color;
@use "../abstract/fonts" as *;
@use "../abstract/responsive" as *;

.title-root {
  width: 100%;
  //border: 1px solid red;
  h1 {
    margin-top: 20px;
    @include tablet {
      margin-top: 0px;
    }
  }
  .underline {
    background-color: color.$black;
    width: 103%;
    margin-left: -3%;
    margin-top: -1.3rem;
    height: 1.7rem;
    @include tablet {
      margin-left: -3%;
      margin-top: -1.3rem;
      height: 2.3rem;
    }
  }
}
