@use "./color.module" as color;
@use "./responsive" as *;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

h1 {
  font-family: "IBM PLEX Mono", monospace;
  font-weight: 500;
  font-size: 1.8rem;
  color: color.$text;
  line-height: 1.8rem;
  margin-bottom: 0rem;
  padding-top: 3px;
  padding-bottom: 3px;
  @include tablet {
    font-size: 3rem;
    line-height: 1rem;
    margin-bottom: 0.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @include large {
    font-size: 3.2rem;
    line-height: 1rem;
    margin-bottom: 0.5rem;
  }
}

h3 {
  font-family: "IBM PLEX Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: color.$text;
  line-height: 1.5rem;
  margin-bottom: 0rem;
  padding-top: 3px;
  padding-bottom: 3px;
  @include tablet {
    font-size: 1.9rem;
    line-height: 1.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    padding-top: 3px;
    padding-bottom: 2px;
  }

  @include large {
    font-size: 1.9rem;
    line-height: 2rem;
  }
}

h4 {
  font-family: "IBM PLEX Mono", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: color.$text;
  line-height: 1.4rem;
  margin-bottom: 1.5rem;
  padding-top: 3px;
  padding-bottom: 3px;
  @include tablet {
    font-size: 1.9rem;
    line-height: 1.9rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding-top: 3px;
    padding-bottom: 2px;
  }

  @include large {
    font-size: 1.9rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }
}

h5 {
  font-family: "IBM PLEX Mono", monospace;
  font-weight: 400;
  font-size: 1.1rem;
  color: color.$text;
  line-height: 1.1rem;
  margin-bottom: 0rem;
  padding-top: 3px;
  padding-bottom: 3px;
  @include tablet {
    font-size: 1.25rem;
    line-height: 1.2em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.4rem;
  color: color.$text;
  text-align: justify;
  text-justify: inter-word;
  @include tablet {
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 2rem;
    line-height: 1.8rem;
  }
}

b {
  font-weight: 500;
}

code {
  font-family: "IBM PLEX Mono", monospace;
}

.gray {
  color: color.$gray;
}

.primary {
  color: color.$primary
}

caption{
  font-family: "IBM PLEX Mono", monospace;
  font-weight: 400;
  font-size: 0.9rem;
  color: color.$text;
  text-transform: uppercase;
}