@mixin phone {
    @media only screen and (min-width: 300px) {
      @content;
    }
  }
  
  @mixin tablet {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
  
  @mixin large {
    @media only screen and (min-width: 1500px) {
      @content;
    }
  }
