@use "./abstract/color.module" as color;
@use "./abstract/responsive" as *;
@use "./abstract/fonts";
@use "./sections/skills";
@use "./sections/home";
@use "./sections/papers";

html {

}

.home-html {
  scroll-behavior: smooth;
  overflow: hidden;
  touch-action: none;  
}

body {
  //background-color: color.$background-dark;
  margin: 0;
  width: 100%;
  
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}*/

.backgound-image {
  position: fixed;
  z-index: -5;
  display: flex;
  width: 100%;
  height: 125vh;
  //border: 1px solid red;
  //background-image: url("/space.png");
  //background-color: color.$background-dark
  .image {
    object-fit: cover;
  }
}

.index-section {
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 1px solid red;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  perspective: 500px;
}
