@use "./abstract/color.module" as color;
@use "./abstract/fonts";

@use "./sections/home";
@use "./sections/papers";

html,
body {
  background-color: color.$background-dark;
  margin: 0;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
