@use "./abstract/color.module" as color;
@use "./abstract/responsive" as *;
@use "./abstract/fonts";
@use "./sections/skills";
@use "./sections/home";
@use "./sections/papers";

html{
  /*scroll-snap-type: y mandatory;
  overscroll-behavior-y: contain;*/
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;

  
  @include tablet {
    overflow: visible;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    //overscroll-behavior-y: contain;
    
  }

  @include desktop {
    //overscroll-behavior-y: none;
    overflow: hidden;
   scroll-snap-type:unset;
    scroll-snap-stop: unset;
  }
}

body {
  background-color: color.$background-dark;
  margin: 0;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}*/

.index-section {
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 1px solid red;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
  perspective: 500px;
}

